.env

backend/.venv/
backend/.ruff_cache/
frontend/node_modules/
frontend/.yarn/install-state.gz

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-wheel-metadata/
htmlcov/
.coverage
.pytest_cache/
.ruff_cache/

node_modules/
dist/
.vite/

.DS_Store
.idea/
.vscode/

*.log