[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg = {extras = ["binary"], version = "*"}
django-allauth = "*"
pyjwt = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
msgspec = "*"
dj-rest-auth = {extras = ["with-social"], version = "*"}

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
pre-commit = "*"
coverage = "*"

[requires]
python_version = "3.14"
